<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Giovanni Camera Fotografo</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="css/demo.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/elastislide.css" />

   <link rel="stylesheet" href="style.css">
   <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
	<div class="rg-image-wrapper">
		{{if itemsCount > 1}}
			<div class="rg-image-nav">
				<a href="#" class="rg-image-nav-prev">Previous Image</a>
				<a href="#" class="rg-image-nav-next">Next Image</a>
			</div>
		{{/if}}
		<div class="rg-image"></div>
		<div class="rg-loading"></div>
		<div class="rg-caption-wrapper">
			<div class="rg-caption" style="display:none;">
				<p></p>
			</div>
		</div>
	</div>
</script>
  </head>
  <body>
		<noscript>
			<style>
				.es-carousel ul{
					display:block;
				}
			</style>
		</noscript>
		<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>


      <!-- INTRO      -->



      <!-- CORPO DEL SITO -->




        <!-- Navbar -->
          <div id="content" class="barOrizzontalen">

              <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#323232">
                <a class="navbar-brand" href="index.html" style="color:#ff0b55;">
                  <img src="Logo_GCamera3.png" width="55%" class="d-inline-block align top">

                </a>

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
              </nav>
          </div>




        <!-- sidebar -->

          <div class="wrapper">
              <!-- Sidebar Holder -->
              <nav id="sidebar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html#TOP">CHI SONO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="portfolio.html">PORTFOLIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html#STUDIO">STUDIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html#CORSI">CORSI</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html#CONTATTI">CONTATTI</a>
                  </li>
                </ul>
              </nav>
            </div>



			<div class="content">
				<h1 style="padding-top:70px;">Animali</h1>
				<div id="rg-gallery" class="rg-gallery">
					<div class="rg-thumbs">
						<!-- Elastislide Carousel Thumbnail Viewer -->
						<div class="es-carousel-wrapper">
							<div class="es-nav">
								<span class="es-nav-prev">Previous</span>
								<span class="es-nav-next">Next</span>
							</div>
							<div class="es-carousel">
								<ul>
                  <li><a href="#"><img src="public/images/animali/animali1.jpg" data-large="public/images/animali/animali1.jpg" alt="image01"  /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali2.jpg" data-large="public/images/animali/animali2.jpg" alt="image02"  /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali3.jpg" data-large="public/images/animali/animali3.jpg" alt="image03" /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali4.jpg" data-large="public/images/animali/animali4.jpg" alt="image04" /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali5.jpg" data-large="public/images/animali/animali5.jpg" alt="image05"/></a></li>
    									<li><a href="#"><img src="public/images/animali/animali6.jpg" data-large="public/images/animali/animali6.jpg" alt="image06" /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali7.jpg" data-large="public/images/animali/animali7.jpg" alt="image07" /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali8.jpg" data-large="public/images/animali/animali8.jpg" alt="image08"  /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali9.jpg" data-large="public/images/animali/animali9.jpg" alt="image09"  /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali10.jpg" data-large="public/images/animali/animali10.jpg" alt="image10"  /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali11.jpg" data-large="public/images/animali/animali11.jpg" alt="image11"  /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali12.jpg" data-large="public/images/animali/animali12.jpg" alt="image12"  /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali13.jpg" data-large="public/images/animali/animali13.jpg" alt="image13"  /></a></li>
    									<li><a href="#"><img src="public/images/animali/animali14.jpg" data-large="public/images/animali/animali14.jpg" alt="image14"  /></a></li>

    							</div>
    						</div>
    						<!-- End Elastislide Carousel Thumbnail Viewer -->
    					</div><!-- rg-thumbs -->
    				</div><!-- rg-gallery -->

    			</div><!-- content -->
    		</div><!-- container -->
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <script src="app.js" charset="utf-8"></script>
        <script src="gallery.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    		<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    		<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
    		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    		<script type="text/javascript" src="js/jquery.elastislide.js"></script>
    		<script type="text/javascript" src="js/gallery.js"></script>

    </body>
</html>
